<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Recognition App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .camera {
        height: 200px;
      }

      .captured-image {
        width: 200px;
        height: auto;
        margin: 3px;
      }

      #results {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="main">
        <video class="camera" id="videoElement" autoplay></video>
        <br />
        <button id="button" @click="captureImage">recognize face</button>
        <a href="/register">Register face</a>
      </div>
      <div id="results" class="results"></div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const captureImage = async () => {
            document.getElementById("button").disabled = true;
            document.getElementById("button").innerText = "Processing...";
            const videoElement = document.getElementById("videoElement");
            const canvas = document.createElement("canvas");
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            canvas.className = "captured-image";
            canvas
              .getContext("2d")
              .drawImage(videoElement, 0, 0, canvas.width, canvas.height);
            const results = document.getElementById("results");
            const firstElement = results.firstChild;
            results.insertBefore(canvas, firstElement);
            const imageData = canvas.toDataURL("image/jpeg");
            const file = dataURLtoFile(imageData, "image.jpg");
            const response = await sendToRecognitionAPI(file);
            console.log(response);
            console.log(response.user_name);
            // write name to canvas
            const ctx = canvas.getContext("2d");
            ctx.font = "38px serif";
            ctx.fillStyle = "red";
            ctx.fillText(response.user_name || "Unknown", 10, 50);
            ctx.font = "38px serif";
            ctx.fillStyle = "blue";
            ctx.fillText(response.message, 10, 100);
            ctx.font = "38px serif";
            ctx.fillStyle = "green";
            ctx.fillText(new Date().toLocaleString(), 10, 150);
            document.getElementById("button").disabled = false;
            document.getElementById("button").innerText = "Recognize face";
          };

          const sendToRecognitionAPI = async (file) => {
            const formData = new FormData();
            formData.append("file", file);
            try {
              const response = await fetch("/api/v1/face/recognize", {
                method: "POST",
                body: formData,
              });
              const data = await response.json();
              console.log(data); // You can handle the response here
              return data;
            } catch (error) {
              console.error("Error:", error);
              return { message: "Error recognizing face" };
            }
          };

          const dataURLtoFile = (dataUrl, filename) => {
            const arr = dataUrl.split(",");
            const mime = arr[0].match(/:(.*?);/)[1];
            const bstr = atob(arr[1]);
            let n = bstr.length;
            const u8arr = new Uint8Array(n);
            while (n--) {
              u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, { type: mime });
          };

          return {
            captureImage,
          };
        },
        mounted() {
          navigator.mediaDevices
            .getUserMedia({
              video: {
                width: {
                  min: 200,
                  max: 800,
                },
                height: {
                  min: 200,
                  max: 800,
                },
              },
            })
            .then((stream) => {
              const videoElement = document.getElementById("videoElement");
              videoElement.srcObject = stream;
            })
            .catch((err) => console.error("Error accessing camera:", err));
        },
      }).mount("#app");
    </script>
  </body>
</html>
